body{
    margin: 0px;
    padding: 0px;
    background-color: whitesmoke; 
    
    main{  
        margin: 10px 10px 10px 30px;
        background-color: white;
        width: calc(100% - 200px);
        height: calc(100% - 130px);
        padding: 10px;
      }
}