#comment-list{ 
  list-style-type: none;

  a{
    text-decoration: none;
  }

  .comment{
    border: 1px solid whitesmoke; 
    border-radius: 5px;  
    margin-top: 30px;
    color: black;  
    padding-left: 10px;  
    margin: 10px 10px 10px 30px; 

    .comment-user{
      font-weight: bold;
      text-indent: 5px;
    }

    .comment-text{
      text-indent: 5px;
      font-style: italic;
    }
  }
  .comment:hover{
    border-color: darkgray;
  }



}

#comment-add{
  margin-top: 20px;
  background-color: whitesmoke;
  padding: 20px 40px;

  input{
    padding: 5px;
  }

  button{
    background-color: white;
    height: 30px;
    width: 120px;
    border-radius: 5px;
    margin-left: 15px;
  }
}
